*.pyc
*.mp4
*.mov
*.xcodeproj
*.DS_Store
*.project
*.pydevproject
*.avi
tfidf
*.wav
transcripts/audiofiles/*.wav
SampleVideos/more/.DS_Store
Scripts/temp
Scripts/*.bat
*Backup-*
*.blg
*.aux
*.log
*.docx