html {
    background-color: #e6e9e9;    
}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 1300px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
}

a {
    color: #0083e8; 
}

a img { display:none;}
a:hover img{display:block;}

b, strong {
    font-weight: 600;
}

img {
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 50%;
    align-content: center;
}

div {
    max-width: 90%;
    border-width: thick;
    border-style: solid;
    border-color: #008188;
}

