html {
    background-color: #e6e9e9;    
}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 1300px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
}

a {
    color: #0083e8; 
}

a:hover img{display:block;}

b, strong {
    font-weight: 600;
}

img {
    background: transparent;
    border: 3px solid rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    display: block;
    margin: 1.0em auto;
    max-width: 95%;
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
}



div {
    max-width: 90%;
    float: none;

    border-width: thick;
    border-style: solid;
    border-color: #008188;
    clear:both;
    overflow: hidden;
}




table {
    margin:0;
	padding:0;
    max-width: 100%;
    table-layout: fixed;
}



p.debug {
    color: red;    
}

td {
    width: 25%;
    vertical-align: center; 
}
