body {
    font-family: serif;
    font-size: 24px;
    text-align: center;
    line-height: 1.35;
    width: 1000px;
    align-content: center;
    padding: auto;
    margin: auto;
}

div {
    margin: 10px;
    vertical-align: top;
}

input {
    margin: 10px;
}

