body {
    font-family: serif;
    font-size: 11.5pt;
    padding: 2em;
    text-align: center;
    margin: auto;
    align-content: center;
    width: 1560px;
    line-height: 1.4;
}

#vid {
    width: 40%;
    float: left;
    margin: 20px;
    position absolute;
    margin: 3em;
}

#ytplayer {
    position: fixed;
    margin:2em;
    
}



#summary {
    width: 45%;
    float:left;
}

#summary1 {
    display: inline-block;
    width: 45%;
    float: center;
}

video {
    vertical-align: middle;
}

p {
    width: 100%;
    text-align: left;
    line-height: 1.35;
    margin-bottom: 1px;
    margin-top: 5px;
}

.sec-title {
    font-size: 18pt;
    margin-top: 20pt;
    margin-bottom: 0px;
    border-bottom: solid 1px #ccc;
    text-align: left;
}

#c1c2wrapper, #c0{
    text-align: middle;
/*    margin-left: 132px;*/
/*    margin-right: 132px;*/
/*    margin-bottom: 24px;*/
}


#c0_wrapper, #c1c2wrapper {
    text-align: middle;
    display: block;
    vertical-align: middle;
/*    width: 90%;*/
}


#c1 {
    display: inline-block;
/*    text-align: center;*/
    padding: 3px;
    background-color: #f9f9f9;
    vertical-align: middle;
    border: 1px solid #ccc;
    
}

.c2 {
    text-align: left;
    width:100%;
    display:none;
/*    background-color: #e3e3e3;*/
    border-left: dashed 1px black;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 1.5em;
}

.textlink {
    cursor: pointer;
    cursor: hand;
}

.textlink:hover {
    border: 2px solid #adff99;
}

img:hover {
    border: 2px solid #adff99;
}


#c2_12wrapper { 
    vertical-align: middle;
/*    text-align: center;*/
}


img {
    display: inline;
    vertical-align: middle;
    padding: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border: 2px solid #f9f9f9;
}

.arrow {
    margin-left: -24px;
}

.arrow:hover {
    border: 2px solid #747070;
}


figcaption {
    font-size: 15pt;
    border: 1px dashed #747070;
}

#expand {
    margin: 1em;
    
}
