body {
    font-family: sans-serif;
    font-size: 100%;
    padding: 2em;
    text-align: left;
    margin: auto;
    align-content: center;
}

#c1, #c2{
    width: 45%; 
    display:inline-block;
    font-size: 0.875em;
    line-height: 1.4;
    align-content: center;
    vertical-align: middle;
    margin:auto;
    padding: 0.5em;
}

#c1 {
    text-align: center;
}


#c0, #c3{
    line-height: 1.4;
    font-size: 0.875em;
    max-width: 800px;
    align-content: center;
    margin:auto;
    padding: 0.5em;
}

img {
    align-content: center;
    max-width: 98%;
    vertical-align: middle;
}

#wrapper {
    border-bottom: 1px solid #aaa;
    align-content: center;
    margin: auto;
    padding: 1em;
}

figure {
    width: 100%;
    align-content: center;
}

.break { page-break-after: always; }
