body {    
    padding: 2em 2em 4em;
}

#summary-container {
    border: 2px solid;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}

div {
    display: block;
    position: relative;
    margin-top: 5px;
    vertical-align:middle;
    margin-left: 5px;
}

p {
    margin: 0;    
}

p.debug {
    color: red;
}

#panorama_cluster {
    max-width: 80%;
}

figure {
    display: inline-block;
    border: 1px dotted gray;
}
figcaption {
    text-align: center;
    border: dotted blue;
}

img.debug {
    border: dotted red;
}

table {
    border: 0px;
    border-spacing: 0px;
}

td {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}