body {    
    padding: 2em 2em 4em;
}

#summary-container {
    border: 2px solid;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}

div {
    display: block;
    position: relative;
    margin-top: 5px;
    vertical-align:middle;
    padding: 1em
}

p {
    margin: 0;    
}